<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/base :: head"></head>
<link href="/css/signin.css" rel="stylesheet" />

<body class="text-center">

<form class="form-signin" th:action="@{/login}" method="post">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" name="username" required=""/>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password" required=""/>
    </div>
    <button type="submit" class="btn btn-primary block">Login</button>

    <p class="text-muted text-center">
        <small>Do not have an account?</small>
    </p>
    <a class="btn btn-sm btn-white btn-block" th:href="@{/register}">Create an account</a>
</form>
<div th:replace="common/base :: jslinks"></div>

</body>

</html>
